In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#   Load the data 

df=pd.read_csv('train.csv')

## Performing EDA

In [4]:
# Get some information
df.info()
# we can see all the columns and the data type and the missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [5]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [6]:
#  we need to drop columns that are less that numbers/2
cols=['Alley','FireplaceQu','PoolQC','Fence','MiscFeature']

df.drop(columns=cols,axis=1,inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 76 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   LotShape       1460 non-null   object
 7   LandContour    1460 non-null   object
 8   Utilities      1460 non-null   object
 9   LotConfig      1460 non-null   object
 10  LandSlope      1460 non-null   object
 11  Neighborhood   1460 non-null   object
 12  Condition1     1460 non-null   object
 13  Condition2     1460 non-null   object
 14  BldgType       1460 non-null   object
 15  HouseStyle     1460 non-null   object
 16  OverallQual    1460 non-null   int64
 17  OverallCond    1460 non-null   int64
 18  YearBuilt      1460 non-null   int64
 19  YearRemodAdd   1460 non-null   int64
 20  RoofStyle      1460 non-null   object
 21  RoofMatl       1460 non-null   object
 22  Exterior1st    1460 non-null   object
 23  Exterior2nd    1460 non-null   object
 24  MasVnrType     1452 non-null   object
 25  MasVnrArea     1452 non-null   float64
 26  ExterQual      1460 non-null   object
 27  ExterCond      1460 non-null   object
 28  Foundation     1460 non-null   object
 29  BsmtQual       1423 non-null   object
 30  BsmtCond       1423 non-null   object
 31  BsmtExposure   1422 non-null   object
 32  BsmtFinType1   1423 non-null   object
 33  BsmtFinSF1     1460 non-null   int64
 34  BsmtFinType2   1422 non-null   object
 35  BsmtFinSF2     1460 non-null   int64
 36  BsmtUnfSF      1460 non-null   int64
 37  TotalBsmtSF    1460 non-null   int64
 38  Heating        1460 non-null   object
 39  HeatingQC      1460 non-null   object
 40  CentralAir     1460 non-null   object
 41  Electrical     1459 non-null   object
 42  1stFlrSF       1460 non-null   int64
 43  2ndFlrSF       1460 non-null   int64
 44  LowQualFinSF   1460 non-null   int64
 45  GrLivArea      1460 non-null   int64
 46  BsmtFullBath   1460 non-null   int64
 47  BsmtHalfBath   1460 non-null   int64
 48  FullBath       1460 non-null   int64
 49  HalfBath       1460 non-null   int64
 50  BedroomAbvGr   1460 non-null   int64
 51  KitchenAbvGr   1460 non-null   int64
 52  KitchenQual    1460 non-null   object
 53  TotRmsAbvGrd   1460 non-null   int64
 54  Functional     1460 non-null   object
 55  Fireplaces     1460 non-null   int64
 56  GarageType     1379 non-null   object
 57  GarageYrBlt    1379 non-null   float64
 58  GarageFinish   1379 non-null   object
 59  GarageCars     1460 non-null   int64
 60  GarageArea     1460 non-null   int64
 61  GarageQual     1379 non-null   object
 62  GarageCond     1379 non-null   object
 63  PavedDrive     1460 non-null   object
 64  WoodDeckSF     1460 non-null   int64
 65  OpenPorchSF    1460 non-null   int64
 66  EnclosedPorch  1460 non-null   int64
 67  3SsnPorch      1460 non-null   int64
 68  ScreenPorch    1460 non-null   int64
 69  PoolArea       1460 non-null   int64
 70  MiscVal        1460 non-null   int64
 71  MoSold         1460 non-null   int64
 72  YrSold         1460 non-null   int64
 73  SaleType       1460 non-null   object
 74  SaleCondition  1460 non-null   object
 75  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(38)
memory usage: 867.0+ KB

In [9]:
# drop missing data since the are few
df.dropna(inplace=True)

In [11]:
df.shape

(1094, 76)

In [12]:
df.select_dtypes('object').nunique()

MSZoning          5
Street            2
LotShape          4
LandContour       4
Utilities         1
LotConfig         5
LandSlope         3
Neighborhood     25
Condition1        9
Condition2        6
BldgType          5
HouseStyle        8
RoofStyle         5
RoofMatl          7
Exterior1st      14
Exterior2nd      16
MasVnrType        4
ExterQual         4
ExterCond         4
Foundation        5
BsmtQual          4
BsmtCond          4
BsmtExposure      4
BsmtFinType1      6
BsmtFinType2      6
Heating           4
HeatingQC         5
CentralAir        2
Electrical        5
KitchenQual       4
Functional        6
GarageType        6
GarageFinish      3
GarageQual        5
GarageCond        5
PavedDrive        3
SaleType          9
SaleCondition     6
dtype: int64

In [14]:
df.select_dtypes('object').head()

,MSZoning,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,...,Electrical,KitchenQual,Functional,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,SaleType,SaleCondition
0,RL,Pave,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,...,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD,Normal
1,RL,Pave,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,...,SBrkr,TA,Typ,Attchd,RFn,TA,TA,Y,WD,Normal
2,RL,Pave,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,...,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD,Normal
3,RL,Pave,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,...,SBrkr,Gd,Typ,Detchd,Unf,TA,TA,Y,WD,Abnorml
4,RL,Pave,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,...,SBrkr,Gd,Typ,Attchd,RFn,TA,TA,Y,WD,Normal

In [16]:
# After study of some columns let remove unnecessary and low cardinality columns
cols1=['PavedDrive','Functional','Condition2','Condition1','GarageFinish','GarageQual','GarageCond','PavedDrive','Electrical','CentralAir','SaleType','BsmtFinType1','BsmtFinType2','Heating'
     ,'MSZoning','Street','Utilities','LotConfig','LandSlope','Id']
df.drop(columns=cols1,axis=1,inplace=True)

In [18]:
df.select_dtypes('number').head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,0,61,0,0,0,0,0,2,2008,208500
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,298,0,0,0,0,0,0,5,2007,181500
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,0,42,0,0,0,0,0,9,2008,223500
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,0,35,272,0,0,0,0,2,2006,140000
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,192,84,0,0,0,0,0,12,2008,250000

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1094 entries, 0 to 1459
Data columns (total 57 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1094 non-null   int64
 1   LotFrontage    1094 non-null   float64
 2   LotArea        1094 non-null   int64
 3   LotShape       1094 non-null   object
 4   LandContour    1094 non-null   object
 5   Neighborhood   1094 non-null   object
 6   BldgType       1094 non-null   object
 7   HouseStyle     1094 non-null   object
 8   OverallQual    1094 non-null   int64
 9   OverallCond    1094 non-null   int64
 10  YearBuilt      1094 non-null   int64
 11  YearRemodAdd   1094 non-null   int64
 12  RoofStyle      1094 non-null   object
 13  RoofMatl       1094 non-null   object
 14  Exterior1st    1094 non-null   object
 15  Exterior2nd    1094 non-null   object
 16  MasVnrType     1094 non-null   object
 17  MasVnrArea     1094 non-null   float64
 18  ExterQual      1094 non-null   object
 19  ExterCond      1094 non-null   object
 20  Foundation     1094 non-null   object
 21  BsmtQual       1094 non-null   object
 22  BsmtCond       1094 non-null   object
 23  BsmtExposure   1094 non-null   object
 24  BsmtFinSF1     1094 non-null   int64
 25  BsmtFinSF2     1094 non-null   int64
 26  BsmtUnfSF      1094 non-null   int64
 27  TotalBsmtSF    1094 non-null   int64
 28  HeatingQC      1094 non-null   object
 29  1stFlrSF       1094 non-null   int64
 30  2ndFlrSF       1094 non-null   int64
 31  LowQualFinSF   1094 non-null   int64
 32  GrLivArea      1094 non-null   int64
 33  BsmtFullBath   1094 non-null   int64
 34  BsmtHalfBath   1094 non-null   int64
 35  FullBath       1094 non-null   int64
 36  HalfBath       1094 non-null   int64
 37  BedroomAbvGr   1094 non-null   int64
 38  KitchenAbvGr   1094 non-null   int64
 39  KitchenQual    1094 non-null   object
 40  TotRmsAbvGrd   1094 non-null   int64
 41  Fireplaces     1094 non-null   int64
 42  GarageType     1094 non-null   object
 43  GarageYrBlt    1094 non-null   float64
 44  GarageCars     1094 non-null   int64
 45  GarageArea     1094 non-null   int64
 46  WoodDeckSF     1094 non-null   int64
 47  OpenPorchSF    1094 non-null   int64
 48  EnclosedPorch  1094 non-null   int64
 49  3SsnPorch      1094 non-null   int64
 50  ScreenPorch    1094 non-null   int64
 51  PoolArea       1094 non-null   int64
 52  MiscVal        1094 non-null   int64
 53  MoSold         1094 non-null   int64
 54  YrSold         1094 non-null   int64
 55  SaleCondition  1094 non-null   object
 56  SalePrice      1094 non-null   int64
dtypes: float64(3), int64(34), object(20)
memory usage: 495.7+ KB

In [19]:
# drop again some unnecessary columns
cols2=['SaleCondition','YrSold','MoSold','ScreenPorch','3SsnPorch','EnclosedPorch','OpenPorchSF','WoodDeckSF','GarageYrBlt','TotRmsAbvGrd','KitchenQual','MSSubClass',
      'LotFrontage','OverallQual','OverallCond','YearRemodAdd','BsmtFinSF2','MasVnrArea','WoodDeckSF','PoolArea','MiscVal','LotShape','ExterQual','ExterCond']
df.drop(columns=cols2,axis=1,inplace=True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1094 entries, 0 to 1459
Data columns (total 34 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotArea       1094 non-null   int64
 1   LandContour   1094 non-null   object
 2   Neighborhood  1094 non-null   object
 3   BldgType      1094 non-null   object
 4   HouseStyle    1094 non-null   object
 5   YearBuilt     1094 non-null   int64
 6   RoofStyle     1094 non-null   object
 7   RoofMatl      1094 non-null   object
 8   Exterior1st   1094 non-null   object
 9   Exterior2nd   1094 non-null   object
 10  MasVnrType    1094 non-null   object
 11  Foundation    1094 non-null   object
 12  BsmtQual      1094 non-null   object
 13  BsmtCond      1094 non-null   object
 14  BsmtExposure  1094 non-null   object
 15  BsmtFinSF1    1094 non-null   int64
 16  BsmtUnfSF     1094 non-null   int64
 17  TotalBsmtSF   1094 non-null   int64
 18  HeatingQC     1094 non-null   object
 19  1stFlrSF      1094 non-null   int64
 20  2ndFlrSF      1094 non-null   int64
 21  LowQualFinSF  1094 non-null   int64
 22  GrLivArea     1094 non-null   int64
 23  BsmtFullBath  1094 non-null   int64
 24  BsmtHalfBath  1094 non-null   int64
 25  FullBath      1094 non-null   int64
 26  HalfBath      1094 non-null   int64
 27  BedroomAbvGr  1094 non-null   int64
 28  KitchenAbvGr  1094 non-null   int64
 29  Fireplaces    1094 non-null   int64
 30  GarageType    1094 non-null   object
 31  GarageCars    1094 non-null   int64
 32  GarageArea    1094 non-null   int64
 33  SalePrice     1094 non-null   int64
dtypes: int64(19), object(15)
memory usage: 299.1+ KB

In [22]:
df.columns

Index(['LotArea', 'LandContour', 'Neighborhood', 'BldgType', 'HouseStyle',
       'YearBuilt', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd',
       'MasVnrType', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure',
       'BsmtFinSF1', 'BsmtUnfSF', 'TotalBsmtSF', 'HeatingQC', '1stFlrSF',
       '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath',
       'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'Fireplaces',
       'GarageType', 'GarageCars', 'GarageArea', 'SalePrice'],
      dtype='object')

In [24]:
#  drop again some unnecessary columns
cols4=['RoofStyle','RoofMatl','Exterior1st','Exterior2nd','MasVnrType','Foundation','BsmtQual','BsmtCond','BsmtExposure','BsmtFinSF1','BsmtUnfSF','HeatingQC','1stFlrSF','2ndFlrSF','LowQualFinSF','GarageCars']
df.drop(columns=cols4,axis=1,inplace=True)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1094 entries, 0 to 1459
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotArea       1094 non-null   int64
 1   LandContour   1094 non-null   object
 2   Neighborhood  1094 non-null   object
 3   BldgType      1094 non-null   object
 4   HouseStyle    1094 non-null   object
 5   YearBuilt     1094 non-null   int64
 6   TotalBsmtSF   1094 non-null   int64
 7   GrLivArea     1094 non-null   int64
 8   BsmtFullBath  1094 non-null   int64
 9   BsmtHalfBath  1094 non-null   int64
 10  FullBath      1094 non-null   int64
 11  HalfBath      1094 non-null   int64
 12  BedroomAbvGr  1094 non-null   int64
 13  KitchenAbvGr  1094 non-null   int64
 14  Fireplaces    1094 non-null   int64
 15  GarageType    1094 non-null   object
 16  GarageArea    1094 non-null   int64
 17  SalePrice     1094 non-null   int64
dtypes: int64(13), object(5)
memory usage: 162.4+ KB

In [27]:
cor=df.drop('SalePrice',axis=1)
cor.corr()

<ipython-input-27-513e570db150>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  cor.corr()

,LotArea,YearBuilt,TotalBsmtSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,Fireplaces,GarageArea
LotArea,1.000000,0.028954,0.324476,0.308590,0.179874,-0.014597,0.132860,0.043977,0.141428,-0.010855,0.255842,0.213104
YearBuilt,0.028954,1.000000,0.423763,0.198778,0.179631,-0.051070,0.501806,0.215519,-0.072816,-0.188032,0.128739,0.470809
TotalBsmtSF,0.324476,0.423763,1.000000,0.487685,0.284427,-0.032479,0.369462,-0.105047,0.037171,0.022200,0.348708,0.546099
GrLivArea,0.308590,0.198778,0.487685,1.000000,0.053940,-0.033958,0.618614,0.407863,0.506966,0.102013,0.470383,0.488310
BsmtFullBath,0.179874,0.179631,0.284427,0.053940,1.000000,-0.145505,-0.056500,-0.036559,-0.130607,0.003264,0.127270,0.185117
BsmtHalfBath,-0.014597,-0.051070,-0.032479,-0.033958,-0.145505,1.000000,-0.090598,-0.001107,0.028287,-0.002028,0.025448,-0.052497
FullBath,0.132860,0.501806,0.369462,0.618614,-0.056500,-0.090598,1.000000,0.109244,0.339986,0.077175,0.249766,0.447385
HalfBath,0.043977,0.215519,-0.105047,0.407863,-0.036559,-0.001107,0.109244,1.000000,0.238613,-0.072822,0.201655,0.122647
BedroomAbvGr,0.141428,-0.072816,0.037171,0.506966,-0.130607,0.028287,0.339986,0.238613,1.000000,0.168206,0.130874,0.093104
KitchenAbvGr,-0.010855,-0.188032,0.022200,0.102013,0.003264,-0.002028,0.077175,-0.072822,0.168206,1.000000,-0.090142,0.038073
Fireplaces,0.255842,0.128739,0.348708,0.470383,0.127270,0.025448,0.249766,0.201655,0.130874,-0.090142,1.000000,0.213334
GarageArea,0.213104,0.470809,0.546099,0.488310,0.185117,-0.052497,0.447385,0.122647,0.093104,0.038073,0.213334,1.000000

In [28]:
#  drop columns that the corelation is > 50
cols5=['BsmtHalfBath','FullBath','GarageArea','BedroomAbvGr','BsmtFullBath','HalfBath']
df.drop(columns=cols5,axis=1,inplace=True)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1094 entries, 0 to 1459
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotArea       1094 non-null   int64
 1   LandContour   1094 non-null   object
 2   Neighborhood  1094 non-null   object
 3   BldgType      1094 non-null   object
 4   HouseStyle    1094 non-null   object
 5   YearBuilt     1094 non-null   int64
 6   TotalBsmtSF   1094 non-null   int64
 7   GrLivArea     1094 non-null   int64
 8   KitchenAbvGr  1094 non-null   int64
 9   Fireplaces    1094 non-null   int64
 10  GarageType    1094 non-null   object
 11  SalePrice     1094 non-null   int64
dtypes: int64(7), object(5)
memory usage: 111.1+ KB

In [32]:
cols6=['KitchenAbvGr','GarageType','Fireplaces','BldgType']
df.drop(columns=cols6,axis=1,inplace=True)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1094 entries, 0 to 1459
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotArea       1094 non-null   int64
 1   LandContour   1094 non-null   object
 2   Neighborhood  1094 non-null   object
 3   HouseStyle    1094 non-null   object
 4   YearBuilt     1094 non-null   int64
 5   TotalBsmtSF   1094 non-null   int64
 6   GrLivArea     1094 non-null   int64
 7   SalePrice     1094 non-null   int64
dtypes: int64(5), object(3)
memory usage: 76.9+ KB

In [34]:
def wrangle(filename):
     # Read CSV file
    df = pd.read_csv(filename)

    #  we need to drop columns that are less that numbers/2
    cols=['Alley','FireplaceQu','PoolQC','Fence','MiscFeature']

    df.drop(columns=cols,axis=1,inplace=True)

    # After study of some columns let remove unnecessary and low cardinality columns
    cols1=['PavedDrive','Functional','Condition2','Condition1','GarageFinish','GarageQual','GarageCond','PavedDrive','Electrical','CentralAir','SaleType','BsmtFinType1','BsmtFinType2','Heating'
         ,'MSZoning','Street','Utilities','LotConfig','LandSlope','Id','KitchenAbvGr','GarageType','Fireplaces','BldgType']
    df.drop(columns=cols1,axis=1,inplace=True)

    # drop again some unnecessary columns
    cols2=['SaleCondition','YrSold','MoSold','ScreenPorch','3SsnPorch','EnclosedPorch','OpenPorchSF','WoodDeckSF','GarageYrBlt','TotRmsAbvGrd','KitchenQual','MSSubClass',
          'LotFrontage','OverallQual','OverallCond','YearRemodAdd','BsmtFinSF2','MasVnrArea','WoodDeckSF','PoolArea','MiscVal','LotShape','ExterQual','ExterCond']
    df.drop(columns=cols2,axis=1,inplace=True)

    #  drop again some unnecessary columns
    cols4=['RoofStyle','RoofMatl','Exterior1st','Exterior2nd','MasVnrType','Foundation','BsmtQual','BsmtCond','BsmtExposure','BsmtFinSF1','BsmtUnfSF','HeatingQC','1stFlrSF','2ndFlrSF','LowQualFinSF','GarageCars']
    df.drop(columns=cols4,axis=1,inplace=True)
#      Drop columns with high miss value 
    df.drop(columns=['floor','expenses'],axis=1,inplace=True)

    #  drop columns that the corelation is > 50
    cols5=['BsmtHalfBath','FullBath','GarageArea','BedroomAbvGr','BsmtFullBath','HalfBath']
    df.drop(columns=cols5,axis=1,inplace=True)
    
    
    return df

In [35]:
from category_encoders import OneHotEncoder
from sklearn.linear_model import LinearRegression, Ridge 
from sklearn.metrics import mean_absolute_error
from sklearn.pipeline import make_pipeline

In [36]:
df.columns

Index(['LotArea', 'LandContour', 'Neighborhood', 'HouseStyle', 'YearBuilt',
       'TotalBsmtSF', 'GrLivArea', 'SalePrice'],
      dtype='object')

In [40]:
# split the data into target and feature

X_train=df.drop('SalePrice',axis=1)
target = "SalePrice"

y_train=df[target]

In [41]:
print(X_train.shape)

(1094, 7)

In [42]:
print(y_train.shape)

(1094,)

## Build The Model

In [43]:
# Calculate the baseline
y_mean=y_train.mean()
y_pred_baseline=[y_mean]*len(y_train)
print("Mean apt price:",y_mean )

print("Baseline MAE:", mean_absolute_error(y_train,y_pred_baseline))

Mean apt price: 187033.26325411335
Baseline MAE: 60462.832411458214

In [44]:
# Iterate
model = make_pipeline(OneHotEncoder(use_cat_names=True),
                    
                      Ridge()
                     )
model.fit(X_train,y_train)

Pipeline(memory=None,
         steps=[('onehotencoder',
                 OneHotEncoder(cols=['LandContour', 'Neighborhood',
                                     'HouseStyle'],
                               drop_invariant=False, handle_missing='value',
                               handle_unknown='value', return_df=True,
                               use_cat_names=True, verbose=0)),
                ('ridge',
                 Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                       max_iter=None, normalize=False, random_state=None,
                       solver='auto', tol=0.001))],
         verbose=False)

## Evaluate

In [45]:
y_pred_traning=model.predict(X_train)
print("Training MAE:", mean_absolute_error(y_train,y_pred_traning))

Training MAE: 24051.88848876697

In [53]:
def wrangle1(filename):
     # Read CSV file
    df = pd.read_csv(filename)

    #  we need to drop columns that are less that numbers/2
    cols=['Alley','FireplaceQu','PoolQC','Fence','MiscFeature']

    df.drop(columns=cols,axis=1,inplace=True)

    # After study of some columns let remove unnecessary and low cardinality columns
    cols1=['PavedDrive','Functional','Condition2','Condition1','GarageFinish','GarageQual','GarageCond','PavedDrive','Electrical','CentralAir','SaleType','BsmtFinType1','BsmtFinType2','Heating'
         ,'MSZoning','Street','Utilities','LotConfig','LandSlope','Id','KitchenAbvGr','GarageType','Fireplaces','BldgType']
    df.drop(columns=cols1,axis=1,inplace=True)

    # drop again some unnecessary columns
    cols2=['SaleCondition','YrSold','MoSold','ScreenPorch','3SsnPorch','EnclosedPorch','OpenPorchSF','WoodDeckSF','GarageYrBlt','TotRmsAbvGrd','KitchenQual','MSSubClass',
          'LotFrontage','OverallQual','OverallCond','YearRemodAdd','BsmtFinSF2','MasVnrArea','WoodDeckSF','PoolArea','MiscVal','LotShape','ExterQual','ExterCond']
    df.drop(columns=cols2,axis=1,inplace=True)

    #  drop again some unnecessary columns
    cols4=['RoofStyle','RoofMatl','Exterior1st','Exterior2nd','MasVnrType','Foundation','BsmtQual','BsmtCond','BsmtExposure','BsmtFinSF1','BsmtUnfSF','HeatingQC','1stFlrSF','2ndFlrSF','LowQualFinSF','GarageCars']
    df.drop(columns=cols4,axis=1,inplace=True)
# #      Drop columns with high miss value 
#     df.drop(columns=['floor','expenses'],axis=1,inplace=True)

    #  drop columns that the corelation is > 50
    cols5=['BsmtHalfBath','FullBath','GarageArea','BedroomAbvGr','BsmtFullBath','HalfBath']
    df.drop(columns=cols5,axis=1,inplace=True)
#     Drop missing value
    df.dropna(inplace=True)
    
    
    return df

In [54]:
X_test = wrangle1('test.csv')

In [55]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1458 entries, 0 to 1458
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotArea       1458 non-null   int64
 1   LandContour   1458 non-null   object
 2   Neighborhood  1458 non-null   object
 3   HouseStyle    1458 non-null   object
 4   YearBuilt     1458 non-null   int64
 5   TotalBsmtSF   1458 non-null   float64
 6   GrLivArea     1458 non-null   int64
dtypes: float64(1), int64(3), object(3)
memory usage: 91.1+ KB

In [56]:

y_pred_test = pd.Series(model.predict(X_test))
y_pred_test.head()

0    114903.401729
1    157081.590594
2    188917.340558
3    184153.637940
4    276819.576195
dtype: float64

## Comminication

In [60]:
df.columns

Index(['LotArea', 'LandContour', 'Neighborhood', 'HouseStyle', 'YearBuilt',
       'TotalBsmtSF', 'GrLivArea', 'SalePrice'],
      dtype='object')

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1094 entries, 0 to 1459
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotArea       1094 non-null   int64
 1   LandContour   1094 non-null   object
 2   Neighborhood  1094 non-null   object
 3   HouseStyle    1094 non-null   object
 4   YearBuilt     1094 non-null   int64
 5   TotalBsmtSF   1094 non-null   int64
 6   GrLivArea     1094 non-null   int64
 7   SalePrice     1094 non-null   int64
dtypes: int64(5), object(3)
memory usage: 109.2+ KB

In [70]:
def make_prediction(LotArea, LandContour, HouseStyle, Neighborhood,YearBuilt,TotalBsmtSF,GrLivArea):
    data={
        'LotArea':LotArea,
        'LandContour':LandContour,
        'HouseStyle':HouseStyle,
        'Neighborhood':Neighborhood ,
        'YearBuilt':YearBuilt,
        'TotalBsmtSF':TotalBsmtSF,
        'GrLivArea':GrLivArea
        
    }
    df=pd.DataFrame(data,index=[0])
    
    prediction = model.predict(df).round(2)[0]
    return f"Predicted apartment price: ${prediction}"

In [62]:
from ipywidgets import Dropdown, FloatSlider, IntSlider, interact

In [71]:
interact(
    make_prediction,
    LotArea=IntSlider(
        min=X_train["LotArea"].min(),
        max=X_train["LotArea"].max(),
        value=X_train["LotArea"].mean(),
    ),
    LandContour=Dropdown(options=sorted(X_train["LandContour"].unique())),
    HouseStyle=Dropdown(options=sorted(X_train["HouseStyle"].unique())),
    Neighborhood=Dropdown(options=sorted(X_train["Neighborhood"].unique())),
    
    TotalBsmtSF=IntSlider(
        min=X_train["TotalBsmtSF"].min(),
        max=X_train["TotalBsmtSF"].max(),
        value=X_train["TotalBsmtSF"].mean(),
    ),
    GrLivArea=IntSlider(
        min=X_train["GrLivArea"].min(),
        max=X_train["GrLivArea"].max(),
        value=X_train["GrLivArea"].mean(),
    ),
   
    
    YearBuilt=Dropdown(options=sorted(X_train["YearBuilt"].unique())),
);

interactive(children=(IntSlider(value=10132, description='LotArea', max=215245, min=1300), Dropdown(descriptio…